.termos-page{
    margin:auto;
    width: 80%;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.termos-page h1{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin:var(--spacing-sm);
}

.termos-content h2{
    font-size: 1.4rem;
    font-weight: 500;
    margin: var(--spacing-xs);
    margin-top: var(--spacing-sm)
}

.termos-content p {
    text-indent: 1.5rem;
}

.termos-content .destaque{
    background-color: var(--bege-default-100);
    padding: 10px 20px 20px 20px;
    margin: var(--spacing-xs) 0;
    border-radius: var(--border-radius-md);
}

.termos-content div.space-text p{
    text-indent: 3rem;
}

.termos-content div.space-text{
    margin: 10px;
}

@media(max-width: 800px){
    .termos-page{
        width:90%;
    }
}