@import url("./main.css");
@import url("./ui/buttons.css");

/* Main/Hero Section------------------ */

main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding:clamp(10px, 20%, 60px);
    gap: var(--spacing-sm);
    position: relative;
    width:100%;
    height: clamp(420px, 60vw, 587px); 
    /* background: linear-gradient(to left, #00000077, transparent 50%); */
}

.bg{
    width:100%;
    background: cover center no-repeat;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}

/* Tipografia ------------------- */

.heading-hero{
    display: grid;
    grid-template-columns: 100px 250px;
    gap: var(--spacing-xs)
}
.heading-hero > img{
    width: 100px;
}
.heading-1{
    display:flex;
    flex-direction: column;
    align-items: end;
    gap:5px;
}
.heading-1 img{
    width:250px;
}

.heading-1 h1{
    font-family: poppins;
    color: var(--black-default-100);
}
main p{
    font-weight: 600;
    font-size: 1.3rem;
    max-width: 380px;
}

/* Apresentação Section-------------------- */

#apresentacao{
    background-color: var(--green-default-100);
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xl);
    padding: var(--spacing-lg);
    color: var(--white-default-100);
}

div.sessoes-online-box{
    display:flex;
    flex-direction: column;
    width:100%;
    height: auto;
}

/* Conteudo de cada box da seção de apresentação*/

.apres-box{
    background-color: rgba(36, 114, 84, 0.44);
    border-radius: var(--spacing-xs);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    padding: var(--spacing-md);
    color: var(--white-default-100);
    height:100%;
    gap:var(--spacing-xs);
}

.apres-box > div {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

/* Headings ------------------- */

h3{
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: var(--spacing-md);
}

.apres-box h4{
    font-size: 1.3rem;
    font-weight: 500;
}

.apres-box .destaque{
    color: var(--blue-default-100)
}

/*  Botão -------------------- */

.apres-box span.btn-article{
    width:100%;
    display:flex;
    justify-content: flex-end;
}

/* Imagem ------------------- */

img.apres-img{
    display: flex;
    align-self: center;
    max-width: 250px;
    margin: var(--spacing-xs);
}

/* Responsividade -------------- */

@media(max-width: 800px){
    #apresentacao{
        flex-direction: column;
        align-items: center; 
        flex-wrap: wrap;
    }

}