@import url("./main.css");
@import url("./ui/buttons.css");


/* Card Col ------------------- */

.card-psi-col {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to bottom,
            grey 20%,
            var(--bege-default-100) 20%);
    padding: 20px;
    gap: 10px;
    width: calc(100% / 3 - 20px);
    min-width: 200px;
    height: 380px;
}

.infos-psi-col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    padding-top: 2rem;
}

.local-info-col {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;
    border-bottom: 0.5px solid var(--black-default-100);
}

.infos-psi-col h1 {
    font-size: 1.3rem;
    font-weight: 600;
}

.infos-psi-col strong {
    font-size: 100%;
    margin: 4px 0;
}

.tags-col {
    display: flex;
    flex-wrap: wrap;

    gap: 5px;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.tittle-conhecimentos-col {
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
}

.tags-col a {
    background: var(--white-default-100);
    color: var(--black-default-100);
    border: 1px solid var(--black-default-100);
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 70%;
    font-weight: 500;
    height: max-content;
}

.psi-foto-perfil-col {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.psi-foto-perfil-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.button-ver {
    width: 100%;
    position: relative;
    top: 0px;
    height: 44px;
    padding: 10px;
    font-size: max-content;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--green-default-100);
}


/* Card Row ------------------- */

.card-psi-row {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to left,
            grey 20%,
            var(--bege-default-100) 20%);
    padding: 20px;
    gap: 10px;
    width: 100%;
    height: 190px;
}

.infos-psi-row {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 25%;
    height: 100%;
    margin: 20px;
}

.infos-psi-row h1 {
    font-size: 1.3rem;
    font-weight: 600;
}

.infos-psi-row strong {
    font-size: 100%;
    margin: 4px 0;
}

.tags-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 150px;
    height: 100%;
    justify-content: flex-start;
    border-left: 0.5px solid var(--black-default-100);
    padding-left: 5px;
}

.tags-row a {
    background: var(--white-default-100);
    color: var(--black-default-100);
    border: 1px solid var(--black-default-100);
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 70%;
    font-weight: 500;
    width: max-content;
    height: max-content;
}

.tags-row h1 {
    font-size: 1.3rem;
    font-weight: 600;
}

.psi-foto-perfil-row {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 1rem;
}

.psi-foto-perfil-row img {
    width: 100px;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    left: 110px;
}

.local-info-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.button-ver-col {
    width: max-content;
    position: relative;
    left: 25%;
}


/*------------FILTRO------------- */
.filtro {
    padding: 0;
}

.button-buscar {
    position: relative;
    font-size: medium;
    font-weight: 500;
    padding: 0.6em 1em;
    border-radius: 0.4em;
    border: none;
    color: var(--white-default-100);
    background-color: var(--green-default-100);
    transition: background-color 0.1s;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 195px;
}

.button-buscar:hover {
    background-color: var(--green-light-default-100);
    transition: background-color 0.25s;
}

.checkbox {
    position: relative;
    background: var(--green-default-100);
    flex-direction: column;
    display: none;
    padding: 6px;
    padding-left: 0;
    border-radius: 10px;
}

#filtro-checkbox {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    border-radius: 0px 0px 8px 8px;
    background: var(--green-default-100);
    cursor: pointer;
}

#filtro-checkbox.show {
    transform: scaleY(1);
    top: -10px;
    opacity: 1;
    width: 195px;
    height: max-content;
}

#seta-checkbox {
    transition: transform 0.3s ease;
    width: 28px;
    height: 28px;
    margin-bottom: -1px;
}

.checkbox-input {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.checkbox-input input {
    display: none;
    cursor: pointer;
    height: 120px;

}

.checkbox-input input+label:before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--green-light-default-100);
    margin-right: 6px;
}

.checkbox-input input:checked+label:before {
    background-color: var(--green-light-default-100);
    transition: 80ms;
}

.checkbox-input {
    cursor: pointer;
}

.titulo-checkbox {
    font-size: 80%;
    color: var(--white-default-100);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    background: transparent;
    white-space: nowrap;
}

/*------------FILTRO_LOCAL------------- */

#seta-local-checkbox {
    transition: transform 0.3s ease;
    width: 28px;
    height: 28px;
    margin-bottom: -1px;
}

#filtro-local-checkbox {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    border-radius: 0px 0px 8px 8px;
    background: var(--green-default-100);
    cursor: pointer;
}

#filtro-local-checkbox.show {
    transform: scaleY(1);
    top: -10px;
    opacity: 1;
    width: 195px;
    height: max-content;

}

/*-----------VISUALIZACAO-------------- */
.container-visualizacao {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: start;
    margin-bottom: 20px;
    width: 100%;
}

.container-visualizacao h1 {
    font-size: 1rem;
}

.col-and-row {
    display: flex;
    gap: 10px;
}

.button-col,
.button-row {

    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-col,
.button-row {
    background-color: grey;
}

.icon-button {
    width: 25px;
    height: 25px;
    margin: var(--spacing-xs);
}

.button-col.active,
.button-row.active {
    background: var(--green-light-default-100);
    color: var(--white-default-100);
    border: 2px solid var(--green-light-default-100);
}

/*-----------SEARCH-------------- */

.search-boxes {
    flex-direction: row;
    justify-items: space-between;
    width: 100%;
    display: flex;
    align-items: center;
}

.search-boxes input {
    width: 100%;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid var(--green-default-100);
}

.button-search {
    background-color: var(--green-default-100);
    color: var(--white-default-100);
    width: auto;
    height: 44px;
    padding: 10px;
    font-size: max-content;
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    border: 2px solid var(--green-default-100);
}

.button-search:hover {
    background-color: var(--green-light-default-100);
}



/*-----------SECTION-------------- */
.section-home {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-inline: 12rem;
    margin-top: 3rem;
}

.body-section {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.visualizacao-filtros {
    display: flex;
}

.filtros {
    gap: 20px;
}

.filtros h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.cards-home {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    justify-content: start;
    align-content: flex-start;
}

/*--------------BUTTON MAIS-------------*/


.container-botao-mais {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

/*-----------MEDIA QUERIES-------------- */

@media (max-width: 820px) {
    .section-home {
        margin-inline: 1rem;
    }

    .body-section {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .cards-home {
        display: flex;
        justify-content: flex-start;
    }

    .filtros {
        width: 100%;
        gap: 10px;
        align-items: flex-end;
        display: flex;
    }

    .visualizacao-filtros {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    .button-buscar {
        width: 100%;
    }

    .card-psi-col {
        width: calc(50% / 2 - 10px);
    }

    .infos-psi-col {
        width: 100%;
        padding-top: 0;
        gap: 4px;
    }

    .local-info-col {
        width: 100%;
        border-bottom: none;
        padding-bottom: 0;
    }

    .psi-foto-perfil-col {
        width: 80px;
        height: 80px;
    }

    .button-ver {
        width: max-content;
        padding: 6px 20px;
        font-size: 90%;
    }

    .infos-psi-row {
        width: 100%;
        margin: 0;
        align-items: center;
        text-align: center;
    }

    .tags-row {
        width: 100%;
        flex-direction: column;
    }

    .psi-foto-perfil-row {
        margin-right: 0;
        justify-content: center;
    }

    .button-ver-col {
        left: 0;
        margin-top: 10px;
    }

    .icon-button {
        width: 20px;
        height: 20px;
    }

    .col-and-row button {
        padding: 0;
        margin: 0;
    }

    .psi-foto-perfil-row {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 1rem;
    }

    .psi-foto-perfil-row img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 100%;
        left: 110px;
    }
}