@import url("./main.css");
@import url("../styles/ui/buttons.css");

section.login-inputs {
    display: flex;
    align-items: center;
}

section.login-inputs img {
    width: 50%;
}

.container-input-login {
    width: 100%;
    padding: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    & h1{
        font-weight: 100px;
    }
    & .inputs {
        margin-top: var(--spacing-lg);
        display: flex;
        flex-direction: column;
        width: 80%;

        & .login-titulo {
            width: 100%;
            text-transform: uppercase;
            right: 10px;
            color: rgb(0, 0, 0);
            display: flex;
            flex-direction: column;
            flex-direction: row;
            padding: 5px;
            letter-spacing: 2px;
            font-weight: 700;
        }

        & input {
            padding: 15px;
            border: 1px solid var(--black-default-100);
            outline: none;
            font-size: 15px;
            width: 100%;
            border-radius: 10px;
            margin-bottom: 2rem;
        }

        & .container-cadastrar-entrar {
            display: flex;
            align-items: center;
            padding-top: 2em;
            margin: auto;
            position: relative;
            column-gap: 50px;
            flex-wrap: wrap;
        }

        & .link-cadastro {
            padding: 10px 25px;

        }

    }
}
/* -------------OPTIONS---------------- */
.container-options{
    display: flex;
    gap: 10px;
    border-radius: 15px;
    padding: 4px;
}
.container-options button {
  background-color: #f0f0f0;
  color: #333;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  border: 1px solid var(--black-default-100);
}

.container-options button:hover {
  background-color: var(--white-default-100);
}

/* Cor quando o botão estiver ativo */
.container-options button.active {
  background-color: var(--green-default-100); /* usa tua cor primária */
  color: #fff;
  transform: scale(1.05);
}
@media (max-width: 799px) {
    .login-inputs{
        display: flex;
        flex-direction: column;
    }
    .login-inputs img{
        display: none;
    }
}
