/* Navbar ------------- */

header, nav, nav > ul{
    display:flex;
    flex-direction: row;
    gap: var(--spacing-sm);
    font-weight: 600;
    align-items: center;
}

header{
    width:100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background-color: var(--white-default-100);
}

nav > ul, a{
    list-style: none;
    color:var(--dark-100)
}

.logotipo{
    width:100px;
}

/* Navbar Desktop- Button Dropdown options */

.nav-login-drop {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-xs);
    width: max-content;
    border-radius: var(--border-radius-md);
    color: white;
    background-color: var(--green-default-100);
    cursor: pointer;
}

.nav-right-buttons {
  position: relative;
  display: inline-block; 
}

.nav-login-drop-wrapper {
    position: fixed; /* fixa no canto da tela */
    top: 70px; /* ajusta conforme a altura do seu nav */
    right: 20px; /* margem da borda direita */
    z-index: 999;
    display: none;
}

.nav-login-drop-wrapper.show {
  display: block; 
}


.nav-login-drop button{
    border:none;
    font-size: 1rem;
    background-color: transparent;
    color: var(--white-default-100);
    cursor: pointer;
    padding: var(--spacing-xs);
    width:100%;
}

.nav-login-drop button:hover{
    background-color: var(--green-light-default-100);
    border-radius: var(--border-radius-sm);
    color: var(--dark-100)
}

/* Navbar Mobile ------------------- */

.nav-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--white-default-100);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
  z-index: 100;
}

.nav-mobile .nav-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark-100);
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.nav-mobile .nav-item.active .indicator {
  position: absolute;
  bottom: -5px;
  width: 3px;
  height: 3px;
  background-color: var(--green-default-100);
  border-radius: 100%;
}

.nav-mobile .nav-item.active {
  color: var(--green-default-100);
}



/* Footer -------------- */

footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--orange-default-100);
    bottom:0;
    top:100vh;
    width: 100%;
    padding: var(--spacing-sm);
    padding-top:35px;
}

footer > div{   
    display: inline-block;
    flex-direction: row;
}

footer hr{
    background-color: var(--black-default-100);
    height:1px;
    width: 80%;
    border: none;
    margin: 10px 0;
}

footer p:hover{
    text-decoration: underline;
}

.grid-footer{
    min-height: -webkit-fit-content;    
    min-height: fit-content;

    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 60%;
    width:100%;
    margin-inline: auto;
    justify-items: center;
    flex-grow: 1;
}

.grid-footer > div {
    display: flex;
    justify-items: center;
    flex-direction: column;
    gap:1rem;
    margin-bottom:1rem;
}

.icon-btns{
    display: flex;
    gap: var(--spacing-sm);
}

/* Responsividade --------------- */

@media(max-width:640px){
    .grid-footer { 
        display: block;
        justify-items: start;
    }
}